.cadastro {
  flex: 1 0 auto;
  margin-bottom: 50px !important;
}

.close2 {
  position: absolute;
  right: 15px;
  top: 5px;
  padding: 0;
  color: white;
}

.abreprofile {
  background-color: transparent !important;
}

.logado .dropdown-content {
  width: 180px !important;
}