extends ../layouts/default

block styles

block content
  section.categoriasinterna
    .container
      .row
        .col.s12.m2.l2.ol
          p
            a(href='') Alongamento de Cabelo
          p
            a(href='') Barbeiros
          p
            a(href='') Beleza dos Olhos
        .col.s12.m2.l2.ol
          p
            a(href='') Alongamento de Cabelo
          p
            a(href='') Barbeiros
          p
            a(href='') Beleza dos Olhos
        .col.s12.m2.l2.ol
          p
            a(href='') Alongamento de Cabelo
          p
            a(href='') Barbeiros
          p
            a(href='') Beleza dos Olhos
        .col.s12.m2.l2.ol
          p
            a(href='') Alongamento de Cabelo
          p
            a(href='') Barbeiros
          p
            a(href='') Beleza dos Olhos
        .col.s12.m2.l2.ol
          p
            a(href='') Alongamento de Cabelo
          p
            a(href='') Barbeiros
          p
            a(href='') Beleza dos Olhos
        .col.s12.m2.l2.ol
          p
            a(href='') Alongamento de Cabelo
          p
            a(href='') Barbeiros
          p
            a(href='') Beleza dos Olhos
        .vermais3.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
          span.palavraUsada  Mais categorias
        .col.s12.m2.l2.ol
          .boxCifrao
            | $
          .boxCifrao
            | $$
          .boxCifrao
            | $$$
          .boxCifrao
            | $$$$
        .col.s12.m2.l2.ol
          .boxCifrao.widthtotal
            i.tiny.material-icons query_builder
            |  Aberto agora
        .col.s12.m2.l2.ol
          .boxCifrao.widthtotal
            i.tiny.material-icons tune
            |  Todos os filtros
        .col.s12.m2.l2.ol
          .publicarNegocio
            | Publicar Negócio
        .col.s12.m4.l4.ol.naoachou
          a(href='#')
            | Não achou o que procurava?
            br
            | Publique seu negócio favorito!
  section.resultadoBusca
    .container
      .row
        .col.s12.m8.l8.ol
          .row
            // loop resultado
            .resultados
              .col.s2
                img.responsive-img(src='img/exemplo.jpg', alt='')
                // notice the "circle" class
              .col.s5
                h2 1 .  ROTISSERIA SÍRIO LIBANEZA
                .avaliacaoBusca
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons star_rate
                  | 							(30)
                .preco $$$ . Árabe, Lanchonetes
              .col.s5
                strong Catete
                br
                | 	Largo do Machado, 29
                br
                | 	Rio de Janeiro - RJ 23510-600
                br
                | 	(21) 2557-2377
            // fim loop resultado
            // loop resultado
            .resultados
              .col.s2
                img.responsive-img(src='img/exemplo.jpg', alt='')
                // notice the "circle" class
              .col.s5
                h2 1 .  ROTISSERIA SÍRIO LIBANEZA
                .avaliacaoBusca
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons star_rate
                  | 								(30)
                .preco $$$ . Árabe, Lanchonetes
              .col.s5
                strong Catete
                br
                | 	Largo do Machado, 29
                br
                | 	Rio de Janeiro - RJ 23510-600
                br
                | 	(21) 2557-2377
            // fim loop resultado
            // loop resultado
            .resultados
              .col.s2
                img.responsive-img(src='img/exemplo.jpg', alt='')
                // notice the "circle" class
              .col.s5
                h2 1 .  ROTISSERIA SÍRIO LIBANEZA
                .avaliacaoBusca
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons star_rate
                  | 									(30)
                .preco $$$ . Árabe, Lanchonetes
              .col.s5
                strong Catete
                br
                | 		Largo do Machado, 29
                br
                | 		Rio de Janeiro - RJ 23510-600
                br
                | 		(21) 2557-2377
            // fim loop resultado
            // loop resultado
            .resultados
              .col.s2
                img.responsive-img(src='img/exemplo.jpg', alt='')
                // notice the "circle" class
              .col.s5
                h2 1 .  ROTISSERIA SÍRIO LIBANEZA
                .avaliacaoBusca
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons star_rate
                  | 										(30)
                .preco $$$ . Árabe, Lanchonetes
              .col.s5
                strong Catete
                br
                | 			Largo do Machado, 29
                br
                | 			Rio de Janeiro - RJ 23510-600
                br
                | 			(21) 2557-2377
            // fim loop resultado
            // loop resultado
            .resultados
              .col.s2
                img.responsive-img(src='img/exemplo.jpg', alt='')
                // notice the "circle" class
              .col.s5
                h2 1 .  ROTISSERIA SÍRIO LIBANEZA
                .avaliacaoBusca
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons.yellow-text.text-darken-1 star_rate
                  i.material-icons star_rate
                  | 											(30)
                .preco
                  | $$$ 
                  i.material-icons brightness_1
                  |  Árabe, Lanchonetes
              .col.s5
                strong Catete
                br
                | 				Largo do Machado, 29
                br
                | 				Rio de Janeiro - RJ 23510-600
                br
                | 				(21) 2557-2377
            // fim loop resultado
          .vermais2.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
            span.palavraUsada
              i.material-icons keyboard_arrow_down
              |   Mostrar
            |  atividades: Rio de Janeiro
        .col.s12.m4.l4.ol
          .sobremapa
            i.material-icons.tuny keyboard_arrow_left
            |  Ampliar mapa
          iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3674.9935306419634!2d-43.22667758967284!3d-22.913609461656378!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57e29a9a877d57e7!2sInstituto+Senai+de+Tecnologia+Ambiental!5e0!3m2!1spt-BR!2sbr!4v1497834740127', width='100%', height='305', frameborder='0', style='border:0', allowfullscreen='')


block scripts