footer
  .blue-grey.lighten-5.footerSuperior
    .container
      .row
        .s12.m3.l3.col
          h1.pink-text.text-lighten-2 Compras do Bem
          h2 Slogan do compras do Bem
          .redescoais
            | aqui ficam as redes sociais
        .s12.m3.l3.col.pink-text.text-lighten-2.servicos
          ul
            li
              a(href='/') Home
            li
              a(href='/servico') Serviço
            li
              a(href='/servico/novo') Criar serviço
            li
              a(href='/servico') Serviços por categoria
            li
              a(href='#') Avaliações por categoria
        .s12.m2.l2.col.links.grey-text.text-darken-4
          ul
            li
              a(href='/') Home
            li
              a(href='/servico') Serviço
            li
              a(href='/servico/novo') Criar serviço
            li
              a(href='/servico') Serviços por categoria
            li
              a(href='#') Avaliações por categoria
        .s12.m2.l2.col.links.grey-text.text-darken-4
          ul
            li
              a(href='/') Home
            li
              a(href='/servico') Serviço
            li
              a(href='/servico/novo') Criar serviço
            li
              a(href='/servico') Serviços por categoria
            li
              a(href='#') Avaliações por categoria
        .s12.m2.l2.col.links.grey-text.text-darken-4
          ul
            li
              a(href='/') Home
            li
              a(href='/servico') Serviço
            li
              a(href='/servico/novo') Criar serviço
            li
              a(href='/servico') Serviços por categoria
            li
              a(href='#') Avaliações por categoria