footer.page-footer
  .container
    .row
      .col.l6.s12
        h5 Rodapé
        p.grey-text.text-lighten-4 Qualquer conteúdo para o rodapé.
      .col.l4.offset-l2.s12
        h5 Links
          ul
            li
              a.grey-text.text-lighten-3(href='#') Link 1
            li
              a.grey-text.text-lighten-3(href='#') Link 2
  .footer-copyright
    .container
      | © 2017 Jardim Digital, Inc. All Rights Reserved
      a.grey-text.text-lighten-4.right(href='#') GitHub Project
