head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='theme-color' content='#4DA5F4')
  meta(name='csrf-token', content=_csrf)
  meta(name='robots', content='noindex, nofollow')
  title #{title} - Jardim Digital
  link(rel='shortcut icon', href='/favicon.png')
  block styles
  link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='/css/font-awesome/css/font-awesome.min.css', media='screen,projection')
  link(rel='stylesheet', href='/css/materialize.css', media='screen,projection')
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/estilo.css')
  script(src='//code.jquery.com/jquery-2.2.1.min.js')
  style(type='text/css').
    header.interno .caixaBusca {
      margin: 0;
    }
    header.interno .caixaBusca .buscador input{
      margin: 0;
    }
    .pink.lighten-2 {
      background-color: #c83579 !important;
    }
    .pink-text {
      color: #c83579 !important;
    }
    .reivindicacao strong {
      color: #c83579 !important;
    }
    header ul:not(.browser-default) li {
      margin: 0;
    }