header.interno
  .container
    section.navegacao
      .row
        .col.s1.m1.l1.white-text
          a(href='.')
            img(src='img/logo_fundo_branco.png')
        .col.abreMenu.s1.m1.l1.white-text
          i.material-icons menu
        .col.s9.m9.l9.menuLinks.hide-on-small-only
          ul
            li
              a(href='#', title='P치gina inicial') Home
            li
              a(href='#', title='P치gina inicial') Cadastro
            li
              a(href='#', title='P치gina inicial') Perfil Usu치rio
        .col.s2.m2.l1.menuLinks.hide-on-small-only
          a.btn.botaoLogar.transparent Cadastro/Login
          