header.interno
  .container
    section.navegacao
      .row(style='margin-bottom: 0;')
        .white-text.hide-on-small-only
          a.logobranco(href='.')
            img(src='/img/logo_fundo_branco.png')
        .col.abreMenu.s1.m1.l1.white-text
          i.material-icons menu
        .col.s8.m9.l9.menuLinks.hide-on-small-only
          ul
            li
              a(href='/', title='Home') Home
            li
              a(href='/servico/novo', title='Serviço') Serviço
            li
              a(href='/account', title='Perfil Usuário') Perfil Usuário
        include user_menu.pug