section.menuSupenso
  .conteudoMenu
    .fechar.white-text
      | FECHAR 
      i.material-icons clear
    a.btn.botaoLogar.transparent Cadastro/Login
    .localizacao
      i.material-icons room
    .buscaMenu
      i.material-icons.text-white search
    .linkMenu
      br(clear='all')
      ul
        // <li><a href="#" title="Página inicial">Home</a></li>
        li
          a(href='#', title='Página inicial') Serviço
        li
          a(href='#', title='Página inicial') Perfil Usuário
        li
          a(href='#', title='Página inicial') criar serviço
        li
          a(href='#', title='Página inicial') serviços por categoria
        li
          a(href='#', title='Página inicial') avaliações por categoria
        li
          a(href='#', title='Página inicial') perfil usuário