if !user
  .col.s4.m2.l2.menuLinks
    a.btn.botaoLogar.transparent(href='/login', title='Cadastre-se', style='float: right;') Login
else
  .menuLinks.logado.white-text.col.offset-s7.s4.m1.l1
    .icones_profile_foto
      .abreprofile.dropdown-button(data-activates='dropdown1', data-beloworigin='true', style='padding: 0;')
        if user.profile.picture
          img.circle(src=user.profile.picture)
        else
          img.circle(src='/img/avatar-default.png')
        i.material-icons keyboard_arrow_down
      ul#dropdown1.dropdown-content
        li(style='margin: 0;')
          a(href='/account') Perfil
        if user.admin
          li(style='margin: 0;')
            a(href='/dash', target='_blank') Dashboard
        li.divider(style='margin: 0;')
        li(style='margin: 0;')
          a(href='/logout') Logout
    //- .icones_profile_aviso
    //-   i.material-icons notifications
    //- .icones_profile_mensagem
    //-   i.material-icons mode_comment