@charset "utf-8";
html, body{ height: 100%; color: #949897}
header{ background: url(img/fundo.jpg) center no-repeat; background-size: cover; position: relative; padding-top: 15px; }
.fundoNegro{ display: none; background-color:#333; opacity: 0.90; height: 100%; width: 100%; position: fixed; z-index: 900}
.abreMenu{ padding: 0 !important; }
.pai{ overflow: hidden}
.b_cidade .material-icons, .b_categoria .material-icons {display: block;
	float: left;
	margin-top: 7px;

	overflow: hidden;}
.abreMenu i{ font-size: 3em; cursor:pointer;}
	.menuLinks li { float: left; margin: 0 1em}
.menuLinks li a{ color:#fff; font-size: 1em; text-transform: uppercase;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
.botaoLogar{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; border:1px solid #fff; font-size: 0.8em}
.botaoLogar:hover{ background-color: #c51f79 !important; transition: 0.5s; -webkit-transition:0.5s}
.caixaBusca{ padding: 5px;  background: #fff; margin-top:30px; margin-bottom: 30px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; min-height: 50px; }
.caixaBusca .row{ margin-bottom: 0;}
.buscador input{ border: none !important; height: 40px !important; margin: 1px !important}
.buscador input:hover{ border: 0 !important}
.buscador input:hover{ border: 0 !important}
.buscador i{ line-height: 38px; display: inline-block}
.buscador{ font-size:0.5rem !important}
.logo img{ margin-top:40px; margin-bottom: 40px}
.b_cidade,.b_categoria{line-height:40px; height: 40px; margin-top: 5px; font-size: 0.8rem; border-left: 1px solid #b3b2b2; cursor:pointer; text-align: left }
.b_categoria{border-right: 1px solid #b3b2b2;}
.btnBuscar{ font-size: 2.2em !important; line-height: 50px; }
.b_botao{text-align: center; cursor: pointer }
.categorias h1,.empresas h1{ font-size: 1.5em; text-align: center; color: #757575}
.categorias{ background-color: #e0e9e6; padding-top: 5px; padding-bottom: 5px;cursor:pointer}
.boxCategoria{ background: #fff; border: 1px solid #e0e9e6;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; height: 126px; text-align: center }
.boxCategoria i{ font-size: 3em; display: block; margin-top: 30px; margin-bottom: 10px}
.card-action i,.nVotacao{ float: left; width: 20px; display: block}
.cardVotacao{ display: block; float: left}
.votacao i{ font-size: 1.3em}
.votacao{  float: left; margin-right: 10px; width: 100px}
.gostei{ font-size: 1.2em}
.cardNome{ font-weight: bold !important; text-transform: uppercase; font-size: 1.0rem !important; display: inline !important}
.cardAcao{   font-size: 0.8em!important}
.vejaMais{ text-align:center; line-height: 25px}
.vejaMais i{  font-size: 0.9em; font-weight: bold !important}
.footerSuperior{ overflow: hidden; padding: 30px 0}
.footerSuperior h1{ font-size:1.3em; text-transform: uppercase;padding: 0; margin:30px 0 0 0}
.footerSuperior h2{ font-size:0.7em; padding: 0; margin: 5px 0 10px 0}
.servicos{ font-size: 0.7em;text-transform: uppercase; margin-top:  25px }
.servicos a{color: #f06292 }
.links{font-size: 0.7em;margin-top:  25px}
.links li,.servicos li{ margin-bottom: 6px}
.links a{ color:rgba(0,0,0,0.87)}
.links a:hover{color:#f06292 !important}
.subfooter{padding:10px 0; font-size: 0.9em; height: 109px}
	.subfooter span{ display: block; margin-top: 70px;};
.nExibe,.nexibir{ display: none !important;}
.nexibir{ display: none }
.vermais,.vermais2{cursor: pointer}
.menuSupenso{ text-align: right; left: -500px; width: 500px; position: fixed; top:0;  height: 100%; z-index: 1000; background: #c83579}
.conteudoMenu{ text-align: right; padding: 30px;float: right; width: 250px;}
.fechar{ font-size: 1.2em;
	cursor: pointer; margin-bottom: 15px;}
.fechar i{font-size: 1.1em; text-align: right}
.localizacao{text-align: left; line-height: 34px; margin-top: 20px; width: 214px; background-color: #fff; float: right; clear: both;-webkit-border-radius: 10px; height: 34px; -moz-border-radius: 10px;border-radius: 10px;}
.localizacao i{text-align: left; line-height: 34px;}
.buscaMenu{ text-align: left; line-height: 34px; margin-top: 20px; width: 214px; background-color: #fff; float: right; clear: both;-webkit-border-radius: 10px; height: 34px; -moz-border-radius: 10px;border-radius: 10px;}
.buscaMenu i{text-align: left; line-height: 34px;}
.btn{margin-left: -15px !important; margin-top: 5px;}
.conteudoMenu a{ color:#fff; text-transform: uppercase;}
.conteudoMenu li{ margin: 8px 0; font-size: 0.9em;}
.linkMenu{  margin-top: 20px !important; display: block; clear: both }
.dropdown-content a{ font-size: 0.8em !important; color:#949897 !important; font-weight: normal !important;}
.boxCategoria a,.boxCategoria{ color:#949897 !important;}
.categoriasinterna{ margin: 40px 0; background: #e0e9e5; padding: 20px 0;}
.resultados{ border-bottom: 1px solid #e6e6e6; overflow: hidden; padding-top: 20px;padding-botton: 20px; }
/*paginas internas*/
.cb1{ border:1px solid #ccc }
 .interno{ background: #c83579}
small{ display: block; margin-bottom: 20px; color:#111; font-weight: 500;}
label{ text-transform: uppercase}
.breadcrumb {color: #949897 !important; font-size: 0.9em !important; margin:30px 0}
.breadcrumb i{font-size: 12px !important; margin-right: 5px; float: none !important; }
.breadcrumb a{color: #949897}
.ends img{  clear: both; display: block; }
.reinvindicacao h2 { margin: 25px 0; font-size: 1.5em }
.reinvindicacao strong{color: #f06292;}
.reinvindicacao span{ display: block;  margin-top: 25px}
.reinvindicacao i{ font-size: 0.8em; margin-right: 5px ; display: inline-block;color: #f06292;   }
.reinvindicar{color: #f06292; font-weight: bold;}
.bordaInferior{ border-bottom: 1px dotted #898f8c; margin-bottom: 20px }
.corinput{color: #949897 !important;}
.logobranco {	margin-left: -65px;	float: left;	margin-top: -4px;}
.abreprofile{ height:41px; float: left;}
.logado{ margin-top: 10px;}
.logado i{ font-size: 1.3em; margin: 10px 5px}
.logado img{ width: 30px; height: 30px; float: left }
.abreprofile{ float: left; background-color: #9b347b; height: 30px; padding: 0 1px; cursor: pointer }
.abreprofile i{ font-size: 0.7em; margin: 0 1px !important; line-height: 30px; color: #e0e9e6}
.icones_profile_mensagem,.icones_profile_aviso,.icones_profile_foto{
	float: right;
}
label, input {
	color:#949897 !important;
}
.logo_lateral img{ width: 100%}

.exibirComentario{ margin-top: 20px; display: none; border:1px solid #e0e9e5; width: 100%}
.escreverComentario{ margin: 20px;}
.ratting{ background: #e0e9e5; color: #eee;}
.estrela{ height: 20px; width: 10px !important; padding: 4px; font-size: 1.2em !important;}

.categoriasinterna a{ font-size: 0.8em;color: #a3a9a6; margin: 3px 0;}
.categoriasinterna p{ line-height: 0.9em;}
.vermais3{ text-align: left;font-size: 0.8em;}
.boxCifrao {    padding: 6px;    background: #75787b;    line-height: 25px;    text-align: center;    color: #fff;    font-size: 0.9em;
    float: left;    margin: 1px;}
		.widthtotal{ width: 100%}
	.publicarNegocio{  padding: 6px;    background: #c53779;    line-height: 25px;    text-align: center;    color: #fff;    font-size: 0.9em;
	    float: left;    margin: 2px;}
			.naoachou a{ color: #c53779; }
	.resultados h2{ font-size: 1.0em; margin: 0; font-weight: bold;}
		.resultados{ padding: 10px 0; margin: 20px 0}
		.resultados img.profile{ width: 50%; margin: 0 25%;}
		.avaliacaoBusca  i{ float: left; font-size: 1.4em ; width: 20px !important; margin-bottom: 10px;}
		.preco i{ font-size: 0.4em !important}
		.preco{ font-weight: bold; clear: both;}
		.sobremapa{ font-size: 0.9em;padding: 5px; background: #f5f5f5; line-height: 30px; border: 1px solid #ccc}
.sobremapa i{ line-height: 30px; font-size: 14px}
		.palavraUsada { padding-left: 11px}
		.linhapontilhada{ border-bottom: 1px dotted #ccc; height: 1px; margin-top: -30px}
.btnreinvindicar{ cursor: pointer;   padding: 7px 14px;    color: #fff !important;
    margin-top: 13px;    display: block;}
.btnreinvindicar i{margin: 5px; width: 12px; }
.btnacoes{ margin-left: 0 !important; text-transform: none !important;}
.btnacoes i{ width: 20px; font-size: 12px}
.tt{ line-height: 30px; margin-top: 10px; display: block;}
.fotoProduto{position: relative; color: #fff;}
.fotoProduto img { width: 100%;}
.fotoProduto span { width: 100%;display: block; position: absolute;left:0; bottom: 0; height: 30px; background-color: #333; opacity: 0.90; font-size: 0.8em; line-height: 30px}
.dadosComercio h2{ font-size: 1em; margin: 10px 0}
.dadosComercio span{ font-size: 0.9em; display: block; clear: both;  margin: 10px 0 }
.dadosComercio hr{ border: 0.001em solid #f7f7f7; margin-bottom: 10px;}
.dadosComercio .collection { border: none ;}
.dadosComercio .collection-item {
    background-color: #fff;
    line-height: 1.6rem;
    padding: 10px 0px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.pagination{ margin: 60px 0;}

/*medias querys*/
@media only screen and (max-width: 600px) {
	.logobranco { position: absolute; left: 50%;	margin-top: -4px; margin-left: -23px}
	.menuSupenso{ text-align: right; left: -500px; width: 95%; position: fixed; top:0;  height: 100%; z-index: 1000; background: #c83579}

	.b_cidade i,.b_categoria i{ display:	block}
	.b_cidade,.b_categoria{text-align: center;    line-height: 3.6em;}
	.b_botao{border-left: none;}
	.b_cidade{ border: none !important;}
	.buscador input{border-bottom: 1px solid #333 !important}
	.categorias h1,.empresas h1{ font-size: 1.5em; text-align: center; color: #757575}
.categorias{ background-color: #e0e9e6;  padding-bottom: 5px;cursor:pointer}

.boxCategoria{ line-height: 40px; background: #fff; border: 1px solid #e0e9e6;-webkit-border-radius: 10px; height: 40px; -moz-border-radius: 10px;border-radius: 10px;  text-align: left !important }
	.boxCategoria i{ font-size:1.3em; margin: 0 25px 0 0; float: left; line-height: 40px; }



}

@media only screen and (min-width: 768px) and (max-width: 480px) {

}

@media only screen and (max-width: 1024px) {

}
