extends ../layouts/home

block styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css')

block content
  section.categorias
    .container
      h1 Rio de Janeiro - RJ
      .row
        .exibe
          each categoria in categorias
            .s12.m3.l3.col.boxCategoria.center-align
              if (categoria.img)
                .col.s12.m12.l12
                  img(src=categoria.img, style='width: 50px; margin: auto; margin-top: 30px;')
              else
                i.material-icons.pink-text.text-lighten-2 restaurant_menu
              | #{categoria.title.toUpperCase()}
          //- .s12.m3.l3.col.boxCategoria.center-align.vermais(data-destino='nExibe')
          //-   i.material-icons.pink-text.text-lighten-2 more_horiz
          //-   | MAIS CATEGORIAS
        .nExibe(style='display: none;')
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 restaurant_menu
            | RESTAURANTES
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 restaurant_menu
            | COMPRAS
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 restaurant_menu
            | VIDA NORTUNA
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 restaurant_menu
            | VIDA ATIVA
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 restaurant_menu
            | BELEZA E SPAS
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 directions_car
            | VEÍCULOS
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 build
            | SERVIÇOS RESIDENCIAIS
          .s12.m3.l3.col.boxCategoria.center-align
            i.material-icons.pink-text.text-lighten-2 more_horiz
            | MAIS CATEGORIAS
  section.empresas
    .container
      h1 Atividades Recentes
      .row
        .col.s12.m4.l4
          each up, index in updates
            if (index % 3 === 0)
              include ../partials/update
        .col.s12.m4.l4
          each up, index in updates
            if (index % 3 === 1)
              include ../partials/update
        .col.s12.m4.l4
          each up, index in updates
            if (index % 3 === 2)
              include ../partials/update
        if (pages > 1)
          .col.s12.m12.l12.vermais2.vejaMais.pink-text.text-lighten-2(data-destino='nexibir')
            span.palavraUsada
              i.material-icons keyboard_arrow_down
              |   Mostrar
            |  atividades: Rio de Janeiro


block scripts
