extends ../layouts/default

block content
  section.cadastro
    .container
      .row
        .col.s12.breadcrumb
          a(href='#!')
            i.pink-text.material-icons home
          i.material-icons navigate_next
          a(href='#!') Login
        .col.s12.m6.l6
          a.btn.waves-effect.waves-light(href='/auth/facebook', style='background: #3b5998; margin-top: 20px;')
            i.fa.fa-facebook.left
            | Logue-se com Facebook
          br
          br
          form(id='signup-form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            label(for='email', data-error='wrong', data-success='right') Email
            input#email.validate(placeholder='E-mail', type='email', name='email', required)
            label(for='password') Senha
            input#confirm_password.validate(placeholder='Senha', type='password', name='password', required)
            .row
              .col.s12.m12.l12
                a(href='/forgot') Esqueceu a senha?
              .col.s12.m12.l12
                a(href='/signup') Cadastre-se
            button.pink.lighten-2.waves-effect.waves-light.btn-large(type='submit') Login
        .col.s3.hide-on-small-only
        .col.s12.m3.l3
          .logo_lateral
            img(src='img/logointerno.png')
            br(clear='all')
            strong SÃO PAULO
            p
              | Rua Baluarte, 123
              br
              |                     Vila Olímpia – São Paulo
              br
              |                     (11) 0000-0000
            strong RIO DE JANEIRO
            p
              | Av. Rainha Elizabeth, 321
              br
              |                     Ipanema – Rio de Janeiro
              br
              |                     (21) 1111-1111
