doctype html
html
  //- Inclui metatags e CSS
  include ../partials/head

  body
    .fundoNegro
    //- Inclui o header
    include ../partials/menu-suspenso
    include ../partials/header-home
    
    //- Conteúdo da página
    block content
    
    //- Inclui Footer
    include ../partials/footer
    //- Inclui Scripts
    include ../partials/foot
    include ../partials/flash
